<br>
<br>

<h1>ABOUT THIS MUTHAFUCKIN WIKI</h1>

<h3>This wiki was created by Eric Kim, a student of General Assembly's Web Design Immersive program. Basically he sucks ass at Ruby and Ruby on Rails, but he plans on changing all of that by getting more familiar with this bullshit by programming this dumbass wiki. fuck.</h3>
