<br>
<br>

<div class="loginpage_image"

</div>

<div class="login_section">
  <img src="http://memecrunch.com/image/51621675afa96f32ef000013.jpg?w=400" height="200" width="240">
  <h1>WELCOME USER</h1>
  <h3>If you could log in before proceding, that'd be great...</h3>
  <form action="placeholder login url i believe" id="frontpage_loginform">
    <input id="email" name="email" type="email" placeholder=" Email">
    <input id="passwd" name="passwd" type="password" placeholder=" Password">
    <div>
      <button type="submit" class="loginbuttons">Log In</button>
      <button type="reset" onclick="location.href='/authors/new'" class="loginbuttons">New User</button>
    </div>
    <br>
    <br>
  </form>
</div>
